################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleWinContainers/.vs/SampleWinContainers
/SampleWinContainers/packages
/SampleWinContainers/SampleWebsite/bin
/SampleWinContainers/SampleWebsite/obj

# User-specific files
*.suo

# Visual Studio profiler
*.psess
*.vsp
*.vspx